body    {
    margin: 0;
    padding-top: 60px;
    padding-bottom: 40px;
    background-color: #f5f5fa; 
}

div     {
}

.main   {
    margin: 0 auto;
    width: 1100px;
    height: 600px;
}

.case   {
    overflow: auto;
}

.result {
    position: relative;
}

#result1 {
    float: left;
    width: 500px;
    height: 380px;
}
#result2 {
    float: right;
    width: 500px;
    height: 380px;
}
