body    {
    margin: 0;
    padding-top: 60px;
    padding-bottom: 40px;
    background-color: #f5f5fa; 
}

div     {
    position: relative;
}

.main   {
    margin: 0 auto;
    width: 1000px;
    height: 600px;
}

.case   {
    overflow: auto;
}

#result {
    width: 600px;
    height: 400px;
}
